@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  background-color: #111111;
}

header {
  background: #111111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.brand a {
  text-decoration: none;
  color: white;
  cursor: default;
  font-weight: bolder;
}

span {
  font-weight: bolder;
  color: #faaf2d;
  cursor: default;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  padding: 10px 15px;
  margin: 10px;
}

.navigation li a {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
}

.navigation li a.active {
  color: #faaf2d;
}

.navigation li a:hover {
  color: #faaf2d;
  transition: all 0.3s ease-in-out;
}

.home {
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 10%;
  color: white;
  align-items: center;
}

.home-content {
  max-width: 500px;
}

.home-content h1 {
  font-size: 55px;
  font-weight: bolder;
}

.home-content h3 {
  font-size: 30px;
  font-weight: bolder;
}

.home-content p {
  font-size: 16px;
  padding: 30px 0;
}

.btn {
  display: inline-flex;
  width: 180px;
  height: 48px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #faaf2d;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bolder;
  border-radius: 40px;
}

.btn:hover {
  background-color: white;
  transition: ease 0.5s;
}

.icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #faaf2d;
  margin-right: 70px;
  padding: 10px 0px;
  font-size: 30px;
  text-decoration: none;
}

.icon a:hover {
  color: white;
  transition: all 0.3s ease-in-out;
}

.About {
  background-color: #1f1f20;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  width: 100%;
  height: 100vh;
  letter-spacing: 2px;
}

.about-title {
  display: block;
  width: 100vh;
}

.About h2 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  padding: 0 0 20px;
}

.img-about {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #faaf2d;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.img-about img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 5px;
}

.about-content {
  display: block;
  margin-top: 150px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.about-content h3 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 70px;
  color: #faaf2d;
}

.about-content p {
  font-size: 19px;
  font-weight: 600;
  margin: 0 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.service {
  background-color: #111111;
  width: 100%;
  height: 100vh;
  margin: auto;
  justify-content: center;
}

.service h2 {
  padding-top: 100px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.service-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 10%;
}

.service-list {
  background-color: #1f1f20;
  color: #faaf2d;
  width: 30%;
  gap: 2em;
  padding: 20px;
  border-radius: 30px;
  margin-top: 100px;
  transition: 0.5s ease;
}

.service-list:hover {
  border: 2px solid #faaf2d;
  transform: scale(1.02);
}

.service-list i {
  font-size: 60px;
  padding-bottom: 5px;
}

.service-list h3 {
  font-size: 20px;
  font-weight: 700;
}

.service-list p {
  color: white;
  padding: 20px 0;
}

.portofolio {
  background-color: #1f1f20;
  height: 100vh;
}

h2 {
  padding-top: 100px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.portofolio-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 30px 10%;
}

.portofolio-box .portofolio-content {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 1rem #111111;
  overflow: hidden;
  display: flex;
}

.portofolio-content img {
  width: 100%;
  transition: .5s ease;
}

.portofolio-content:hover img {
  transform: scale(1.1);
}

.portofolio-content .portofolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), #faaf2d);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.portofolio-content:hover .portofolio-layer {
  transform: translateY(0);
}

.portofolio-layer h4 {
  font-size: 25px;
  font-weight: 700;
}

.portofolio-layer p {
  font-size: 12px;
  font-weight: 700;
  margin: .3rem 0 1rem;
}

.portofolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
}

.portofolio-layer a i {
  font-size: 2rem;
  color: #111111;
}

.contact {
  height: 100vh;
}

.contact h2 {
  margin-bottom: 40px;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 4rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #1f1f20;
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.footer {
  background-color: #1f1f20;
  margin-top: 60px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.footer-text {
  color: white;
  font-size: 19px;
}

.footer a {
  display: flex;
  background-color: #faaf2d;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
}

.footer a:hover {
  background-color: white;
}

.footer a i {
  font-size: 30px;
  font-weight: 700;
  color: #1f1f20;
  text-align: center;
}